.spa-box {

  &__works {
    margin-bottom: 250px;

    &--title {
      display: flex;
      justify-content: left;
      margin-top: 325px;

      .spa-box__name {
        align-self: start;
        margin-top: 75px;
        width: 150px;
      }

      h2 {
        position: relative;
        font-size: 200px;
        margin: 0;
        z-index: 1;
        line-height: 100%;
      }

      .square {
        position: absolute;
        top: 200px;
        right: 100px;
        rotate: 31deg;
        background-color: #839BC4;
        width: 202px;
        height: 202px;
      }
    }

    &--body {
      display: flex;
      text-align: left;
      justify-content: space-between;
      margin-top: 36px;

      p {
        max-width: 250px;
      }
    }

    &--list {
      display: flex;
      list-style: none;
      opacity: 20%;
      gap: 15px;
      padding-left: 170px;
    }
  }

  &__comment {
    max-width: 270px;
    text-align: left;
    margin: 0;
    position: absolute;
    right: 210px;
    font-size: 13px;
  }

  &__name {
    text-transform: uppercase;
    margin: 0;
    opacity: 20%;
  }

  &__textdrop {

    &--title {
      align-items: center;
      justify-content: left;
      padding: 40px 0;
      margin-top: 325px;
      border-top: 1px solid #ffffff;
      border-bottom: 1px solid #ffffff;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      width: calc(100vw);

      &::before, &::after {
        content: '';
        position: absolute;
        width: 64px;
        height: 64px;
        background: #ffffff;
        border-radius: 50%;
      }

      &::before {
        top: -30px;
        left: 15px;
      }

      &::after {
        bottom: -30px;
        right: 15px;
      }

      .spa-box__name {
        position: absolute;
        left: 200px;
        top: 190px;
      }

      .spa-box__comment {
        opacity: 20%;
        font-size: 20px;
        top: 190px;
        width: 100%;
      }

      h2 {
        font-size: 160px;
        margin: 0;
        line-height: 100%;
        text-transform: uppercase;
      }
    }

    &--description {
      max-width: 550px;
      margin: 60px auto 0;
    }
  }
}

.merch-box {
  position: relative;
  background: #000;
  color: #fff;
  min-height: 100vh;
  text-align: center;

  .main {
    width: 700px;
    margin: auto;
    text-align: center;
    transform: translateY(400px);
  }

  &__text {
    z-index: 1;
    margin: auto;

    h2 {
      font-size: 250px;
      color: #a9c9ff;
      font-weight: 500;
      margin: 0;
    }

    p {
      font-size: 96px;
      max-width: 950px;
      text-align: center;
      font-weight: 500;
      line-height: 100%;
      margin: auto;
    }
  }

  &__floating {
    position: relative;
    height: 200px;

    .float {
      position: absolute;
      top: 50%;
      width: 70px;
      animation: none;

      &-top-left {
        left: 800px;
        top: -850px;
        rotate: 45deg;
        filter: blur(8px);
        transform: translateY(-50%) rotate(-12deg);
        animation-delay: 0s;
        min-width: 100px;
        max-width: 150px;
      }

      &-left {
        left: -500px;
        top: -1200px;
        rotate: -15deg;
        filter: blur(4px);
        min-width: 400px;
        max-width: 450px;
        transform: translateY(-50%) rotate(-12deg);
        animation-delay: 0s;
      }

      &-bottom-right {
        right: -450px;
        top: -500px;
        rotate: 30deg;
        min-width: 100px;
        max-width: 150px;
        filter: blur(2px);
        transform: translateY(-50%) rotate(12deg);
        animation-delay: 1s;
      }

      &-right {
        right: 600px;
        rotate: 330deg;
        top: -800px;
        z-index: 0;
        filter: blur(2px);
        transform: translateY(-50%) rotate(12deg);
        animation-delay: 1s;
      }

      &-right-under {
        right: -1000px;
        top: -650px;
        rotate: 60deg;
        z-index: 0;
        filter: blur(2px);
        min-width: 250px;
        max-width: 350px;
        transform: scaleX(-1);
        opacity: 0.5;
        animation-delay: 1s;
      }

      &-left-under {
        left: -1000px;
        top: -650px;
        rotate: 300deg;
        filter: blur(4px);
        min-width: 200px;
        max-width: 250px;
        animation-delay: 0s;
      }
    }
  }

  &__stand {
    img {
      width: 100%;
      border-radius: 30px;
      position: relative;
      z-index: 1;
    }
  }
}

.section {
  opacity: 0;
  transform: translateY(50px);
  transition: transform 0.6s ease-out, opacity 0.4s ease-out;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes float {
  0%, 100% {
    transform: translateY(-50%) translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-50%) translateY(-20px) rotate(3deg);
  }
}

@keyframes fanEffect {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(30deg);
    opacity: 0;
  }
}

@keyframes fanAppear {
  0% {
    transform: rotate(-30deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

.image {
  display: inline-block;
  position: absolute;
  top: 150px;
  left: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image.active {
  animation: fanEffect 1s forwards;
}

.image.new {
  animation: fanAppear 1s forwards;
}

.slide-up {
  transform: translateY(30px);
  opacity: 0;
  transition: transform 0.6s ease-out, opacity 0.4s ease-out;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.6s ease-out 0.2s;
}

.fade-in-delay {
  opacity: 0;
  transition: opacity 0.8s ease-out 0.4s;
}

//@media (max-width: 100vw) {
//  .slider-wrapper {
//    display: none;
//  }
//}

@media (max-width: 1350px) {
  .spa-box {
    &__footer {
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;

      img {
        display: none;
      }
    }

    &__comment {
      max-width: 100vw;
      font-size: 20px;
      position: static;
      text-align: center;
    }

    &__works {

      &--title {
        justify-content: center;

        .spa-box__name {
          display: none;
        }

        h2 {
          font-size: 120px;
        }

        .square {
          display: none;
        }
      }

      &--list {
        padding: 0;
      }
    }

    &__textdrop {
      &--title {
        margin-bottom: 100px;

        h2 {
          font-size: 120px;
        }

        .spa-box__name {
          display: none;
        }

        .spa-box__comment {
          display: none;
        }
      }
    }

    .merch-box {
      padding: 20px;

      .main {
        transform: translateY(40vh);
        width: 50%;
      }

      &__text {
        position: relative;
        z-index: 3;

        h2 {
          font-size: 120px;
        }

        p {
          font-size: 60px;
          text-transform: uppercase;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .spa-box {

    &__works {
      margin-bottom: 100px;

      &--title {
        margin-top: 150px;

        h2 {
          font-size: 80px;
        }
      }

      &--body {
        justify-content: center;

        p {
          display: none;
        }
      }
    }

    &__textdrop {
      &--title {

        &:after {
          display: none;
        }

        h2 {
          font-size: 80px;
        }

        .spa-box__name {
          display: none;
        }

        .spa-box__comment {
          display: none;
        }
      }
    }
    .merch-box {

      &__text {

        h2 {
          font-size: 60px;
        }

        p {
          font-size: 23px;
        }
      }
    }
  }

  .slider-wrapper {
    display: block;
  }

  #scrollable {
    display: none;
  }
}

@media (max-width: 480px) {
  .spa-box {
    &__comment {
      font-size: 13px;
    }
  }
}